#me {
  .bold {
    font-weight: 700;
    color: var(--foreground);
  }
  justify-content: space-between;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    gap: 2rem;
  }
  color: var(--foreground);

  #about {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
      align-items: center;
      text-align: center;
    }
    #summary {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 900px) {
        align-items: center;
        text-align: center;
      }
      div:nth-child(1) {
        font-size: 2rem;
        font-weight: 700;
      }
      div:nth-child(2) {
        font-size: 2.1rem;
        font-weight: 700;
        margin-bottom: 5px;
        position: relative;
        margin-bottom: 1.5rem;
        width: fit-content;
        & > svg {
          position: absolute;
          width: 350px;
          left: 50%;
          transform: translateX(-50%);
          top: -40px;
        }
      }
      div:nth-child(3) {
        font-size: 1.1rem;
        font-weight: 600;
        color: var(--foreground2);
      }
    }
  }
}
.sayHi {
  display: flex;
  align-items: center;
  color: var(--foreground);
  width: fit-content;
  gap: 0.5rem;
  cursor: pointer;

  & > img {
    height: 1.3rem;
  }
  &_text {
    overflow: hidden;
    font-weight: 600;
    height: 32px;
    &:hover div {
      transform: translateY(-100%);
    }
    & > div {
      display: flex;
      transition: 0.15s all cubic-bezier(0.215, 0.61, 0.355, 1);
      height: 32px;
      line-height: 32px;
      flex-shrink: 0;
    }
  }
}
