:root {
  --gradient-color-1: #f700ff;
  --gradient-color-2: #ff00aa;
  --gradient-color-3: #ff0077;
  --gradient-color-4: #ffd904;
  --background: black;
  --background2: rgb(15, 15, 15);
  --foreground3: rgb(20, 20, 20);
  --background3: rgb(34, 34, 34);
  --foreground: white;
  --border: rgb(43, 43, 43);
  --foreground2: gray;
  --borderActive: rgb(54, 54, 54);
}

[data-theme="dark"] {
  --gradient-color-1: #000000;
  --gradient-color-2: #ff00aa;
  --gradient-color-3: #ff0077;
  --gradient-color-4: #04a3ff;
  --background: black;
  --background2: rgb(15, 15, 15);
  --foreground3: rgb(20, 20, 20);
  --background3: rgb(34, 34, 34);
  --foreground: white;
  --border: rgb(43, 43, 43);
  --foreground2: gray;
  --borderActive: rgb(54, 54, 54);
}
